﻿@model IEnumerable<BaseDeDatos1.Models.Especialidade>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Especialidades", htmlAttributes: new { @class="btn btn-primary"})
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EspecialidadID, @class="btn" }) |
            @Html.ActionLink("Details", "Details", new { id=item.EspecialidadID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EspecialidadID })
        </td>
    </tr>
}

</table>
