﻿@{
    ViewBag.Title = "Base de Datos";
}

<div class="jumbotron">
    <h1>Projecto Base de Datos I</h1>
    <p class="lead">A continuacion los miembros del grupo</p>
    <ul>
        <li>
            <strong>Juan D. Ozuna: </strong> 1069835
        </li>
        <li>
            <strong>Enmanuel Olivo: </strong> 1068912
        </li>
        <li>
            <strong>Franklin Quezada: </strong> 1070595
        </li>
        <li>
            <strong>Jarlyn Diaz: </strong> 1070791
        </li>

    </ul>
</div>

<h1 class="text-center">Secciones | Options</h1>
<br />
@*<div class="row">
    <div class="col-md-4">
        <a href="/pacientes/index" class="btn btn-primary btn-lg btn-block">Pacientes</a>
    </div>
    <div class="col-md-4">
        <a href="/medico/index" class="btn btn-primary btn-lg btn-block">Medicos</a>
    </div>
    <div class="col-md-4">
        <a href="/citas/index" class="btn btn-primary btn-lg btn-block">Citas</a>
    </div>
</div>*@